@import "./base/mixins";
@import "./base/fonts";
@import "./pages/home";
// @import "./pages/404";
// @import "./pages/login";
// @import "./pages/login_v2";
// @import "./pages/jobDetails";
// @import "./pages/master";
// @import "./pages/addStaff";
// @import "./pages/newClient";
// @import "./components/card";
// @import "./components/leaveCard";
// @import "./components/chart";
// @import "./components/dateRange";
// @import "./components/dotChart";
// @import "./components/dotForm";
// @import "./components/dotTable";
// @import "./components/dotCalendar";
// @import "./components/dotAttendance";
// @import "./components/dotModal";
// @import "./components/dotQuotation";
// @import "./components/dotMarketing";
// @import "./components/stepper";
// @import "./layout/sidebar";
// @import "./layout/customTable";
// @import "./components/color";
// @import "./layout/bubble";
// @import "./layout/invoice";

body {
  margin: 0;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeaea;
}
